body{
    background-image: url(../images/background.jpg);
}

.jumbotron{
    background-color: blue;
}

.container{
    text-align: center;
}

.btn-primary{
    padding: 20px;
    margin-top: 40px;
    background-color: blue;
    color: yellow;
}

.btn-outline-secondary{
    margin-bottom: 10px;
    padding: 20px;
    font-size: 30px;
}

#play-area{
    text-align: center;
    padding: 20px;
    width: 920px;
    height: 700px;
    margin: 0 auto;
    background: white;
    border: 10px solid grey;
}

#current-question{
    font-size: 30px;
    font-weight: bold;
    color: blue;
    margin-bottom: 20px;
}

#wrong-answer{
    font-size: 30px;
    font-weight: bold;
    color: blue;
    margin-bottom: 20px;
}

#result-page{
    font-size: 30px;
    color: blue;
    font-weight: bold;
}

#correct{
    font-size: 30px;
    font-weight: bold;
    color: blue;
}

#incorrect{
    font-size: 30px;
    font-weight: bold;
    color: blue;
}

#unanswered{
    font-size: 30px;
    font-weight: bold;
    color: blue;
}